po/webservices/src/main/resources/gov/nih/nci/po/webservices/bridg/OrganizationTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:faults="http://faults.po.coppa.nci.nih.gov"
        targetNamespace="http://enterpriseservices.nci.nih.gov/entities/Organization/types"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <import namespace="http://faults.po.coppa.nci.nih.gov" schemaLocation="CoppaPOFaults.xsd"/>

  <element name="EntityValidationFault" type="faults:EntityValidationFault" />
  <element name="NullifiedEntityFault" type="faults:NullifiedEntityFault" />
  <element name="TooManyResultsFault" type="faults:TooManyResultsFault" />
</schema>

