po/webservices/src/main/resources/gov/nih/nci/po/webservices/bridg/Person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://enterpriseservices.nci.nih.gov/entities/Person"
             xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
             xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
             xmlns:ns10="http://enterpriseservices.nci.nih.gov/entities/Person/types"
             xmlns:ns0="http://po.coppa.nci.nih.gov"
             xmlns:ns19="http://common.coppa.nci.nih.gov"
             xmlns:ns2="http://iso21090.nci.nih.gov"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             name="Person"
             targetNamespace="http://enterpriseservices.nci.nih.gov/entities/Person">

    <jaxws:bindings>
        <jaxws:package name="gov.nih.nci.po.webservices.service.bridg.soap.person"></jaxws:package>
    </jaxws:bindings>

    <!--============================================================

                        T Y P E S

    ============================================================-->
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://enterpriseservices.nci.nih.gov/entities/Person" elementFormDefault="qualified"
                attributeFormDefault="unqualified">

            <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd"/>
            <import namespace="http://po.coppa.nci.nih.gov" schemaLocation="CoppaPO.xsd"/>
            <import namespace="http://common.coppa.nci.nih.gov" schemaLocation="CoppaCommons.xsd"/>
            <import namespace="http://iso21090.nci.nih.gov" schemaLocation="ISO_extensions.xsd"/>
            <import namespace="http://enterpriseservices.nci.nih.gov/entities/Person/types"
                    schemaLocation="./PersonTypes.xsd"/>

            <element name="GetByIdRequest">
                <complexType>
                    <sequence>
                        <element name="id">
                            <complexType>
                                <sequence>
                                    <element ref="ns2:Id" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="GetByIdResponse">
                <complexType>
                    <sequence>
                        <element ref="ns0:Person" minOccurs="1" maxOccurs="1"/>
                    </sequence>
                </complexType>
            </element>
            <element name="CreateRequest">
                <complexType>
                    <sequence>
                        <element name="person">
                            <complexType>
                                <sequence>
                                    <element ref="ns0:Person" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="CreateResponse">
                <complexType>
                    <sequence>
                        <element ref="ns2:Id" minOccurs="1" maxOccurs="1"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ValidateRequest">
                <complexType>
                    <sequence>
                        <element name="person">
                            <complexType>
                                <sequence>
                                    <element ref="ns0:Person" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="ValidateResponse">
                <complexType>
                    <sequence>
                        <element ref="ns0:StringMap" minOccurs="1" maxOccurs="1"/>
                    </sequence>
                </complexType>
            </element>
            <element name="UpdateRequest">
                <complexType>
                    <sequence>
                        <element name="person">
                            <complexType>
                                <sequence>
                                    <element ref="ns0:Person" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="UpdateResponse">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
            <element name="UpdateStatusRequest">
                <complexType>
                    <sequence>
                        <element name="targetId">
                            <complexType>
                                <sequence>
                                    <element ref="ns2:Id" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="statusCode">
                            <complexType>
                                <sequence>
                                    <element ref="ns2:Cd" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="UpdateStatusResponse">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
            <element name="QueryRequest">
                <complexType>
                    <sequence>
                        <element name="person">
                            <complexType>
                                <sequence>
                                    <element ref="ns0:Person" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="limitOffset">
                            <complexType>
                                <sequence>
                                    <element ref="ns19:LimitOffset" minOccurs="1" maxOccurs="1"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="QueryResponse">
                <complexType>
                    <sequence>
                        <element ref="ns0:Person" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="PersonResourceProperties">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  place service messages here -->
    <message name="GetByIdRequest">
        <part name="parameters" element="tns:GetByIdRequest"/>
    </message>
    <message name="GetByIdResponse">
        <part name="parameters" element="tns:GetByIdResponse"/>
    </message>
    <message name="CreateRequest">
        <part name="parameters" element="tns:CreateRequest"/>
    </message>
    <message name="CreateResponse">
        <part name="parameters" element="tns:CreateResponse"/>
    </message>
    <message name="ValidateRequest">
        <part name="parameters" element="tns:ValidateRequest"/>
    </message>
    <message name="ValidateResponse">
        <part name="parameters" element="tns:ValidateResponse"/>
    </message>
    <message name="UpdateRequest">
        <part name="parameters" element="tns:UpdateRequest"/>
    </message>
    <message name="UpdateResponse">
        <part name="parameters" element="tns:UpdateResponse"/>
    </message>
    <message name="UpdateStatusRequest">
        <part name="parameters" element="tns:UpdateStatusRequest"/>
    </message>
    <message name="UpdateStatusResponse">
        <part name="parameters" element="tns:UpdateStatusResponse"/>
    </message>
    <message name="QueryRequest">
        <part name="parameters" element="tns:QueryRequest"/>
    </message>
    <message name="QueryResponse">
        <part name="parameters" element="tns:QueryResponse"/>
    </message>
    <message name="NullifiedEntityFaultFaultMessage">
        <part name="fault" element="ns10:NullifiedEntityFault"/>
    </message>
    <message name="EntityValidationFaultFaultMessage">
        <part name="fault" element="ns10:EntityValidationFault"/>
    </message>
    <message name="TooManyResultsFaultFaultMessage">
        <part name="fault" element="ns10:TooManyResultsFault"/>
    </message>
    <!--============================================================

                         P O R T T Y P E

    ============================================================-->
    <portType name="PersonPortType">
        <operation name="getById">
            <input message="tns:GetByIdRequest"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/GetByIdRequest"/>
            <output message="tns:GetByIdResponse"
                    wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/GetByIdResponse"/>
            <fault name="NullifiedEntityFault" message="tns:NullifiedEntityFaultFaultMessage"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/NullifiedEntityFaultFaultMessage"/>
        </operation>
        <operation name="create">
            <input message="tns:CreateRequest"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/CreateRequest"/>
            <output message="tns:CreateResponse"
                    wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/CreateResponse"/>
            <fault name="EntityValidationFault" message="tns:EntityValidationFaultFaultMessage"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/EntityValidationFaultFaultMessage"/>
        </operation>
        <operation name="validate">
            <input message="tns:ValidateRequest"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/ValidateRequest"/>
            <output message="tns:ValidateResponse"
                    wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/ValidateResponse"/>
        </operation>
        <operation name="update">
            <input message="tns:UpdateRequest"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/UpdateRequest"/>
            <output message="tns:UpdateResponse"
                    wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/UpdateResponse"/>
            <fault name="EntityValidationFault" message="tns:EntityValidationFaultFaultMessage"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/EntityValidationFaultFaultMessage"/>
        </operation>
        <operation name="updateStatus">
            <input message="tns:UpdateStatusRequest"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/UpdateStatusRequest"/>
            <output message="tns:UpdateStatusResponse"
                    wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/UpdateStatusResponse"/>
            <fault name="EntityValidationFault" message="tns:EntityValidationFaultFaultMessage"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/EntityValidationFaultFaultMessage"/>
        </operation>
        <operation name="query">
            <input message="tns:QueryRequest"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/QueryRequest"/>
            <output message="tns:QueryResponse"
                    wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/QueryResponse"/>
            <fault name="TooManyResultsFault" message="tns:TooManyResultsFaultFaultMessage"
                   wsa:Action="http://enterpriseservices.nci.nih.gov/entities/Person/TooManyResultsFaultFaultMessage"/>
        </operation>
    </portType>

    <binding name="PersonPortTypeSOAPBinding" type="tns:PersonPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getById">
            <soap:operation soapAction="http://enterpriseservices.nci.nih.gov/entities/Person/GetByIdRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="NullifiedEntityFault">
                <soap:fault name="NullifiedEntityFault" use="literal"/>
            </fault>
        </operation>
        <operation name="create">
            <soap:operation soapAction="http://enterpriseservices.nci.nih.gov/entities/Person/CreateRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EntityValidationFault">
                <soap:fault name="EntityValidationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="validate">
            <soap:operation soapAction="http://enterpriseservices.nci.nih.gov/entities/Person/ValidateRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation soapAction="http://enterpriseservices.nci.nih.gov/entities/Person/UpdateRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EntityValidationFault">
                <soap:fault name="EntityValidationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateStatus">
            <soap:operation soapAction="http://enterpriseservices.nci.nih.gov/entities/Person/UpdateStatusRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EntityValidationFault">
                <soap:fault name="EntityValidationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="query">
            <soap:operation soapAction="http://enterpriseservices.nci.nih.gov/entities/Person/QueryRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TooManyResultsFault">
                <soap:fault name="TooManyResultsFault" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="PersonService">
        <port name="PersonPortTypePort" binding="tns:PersonPortTypeSOAPBinding">
            <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UsernameToken"/>
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
    <wsp:Policy wsu:Id="UsernameToken"
                xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
        <sp:SupportingTokens>
            <wsp:Policy>
                <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient"/>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>
</definitions>

